@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Poppins&display=swap');

body{
    font-family: 'Kablammo', cursive;
    background-color: #001C30;
    color: white;
    background-image: url(./assets/game-background-gde3e8bce8_1280.jpg);
    
   

}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo {
    color: #072227;
    font-size: 80px;
    
    
    
}
.subtitulo{
    color: #072227;
    font-size: 40px;
}

.tarjetas, .tarjetas-ataque{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
width: 220px;
height: 100px;
background: #176B87;
padding: 15px;
box-sizing: border-box;
border-radius: 20px;
display: flex;
align-content: center;
align-items: center;
color: #072227;
font-size: 24px;


}
.tarjeta-de-mokepon img{
    width: 80px;
}
#boton-mascota{
    height: 50px;
    width: 200px;
    margin-top: 40px;
    border-radius: 20px;
    color: #072227;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
input{
    display: none;
}
input:checked + label {
   background-color: aqua;
}
#seleccionar-ataque{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botonataque{
    background-color: #176B87;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
    width: 160px;
    color: #072227;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
#mensajes{
    background-color: #DAFFFB;
    width: 247px;
    padding: 13px;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 30px;
    
}
#boton-reiniciar{
    border: none;
    color: #176B87;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

}
.ataques {
    display: grid;
    grid-template-columns: 170px 170px;
    color: #beedf6;
    font-size: 20px;

}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #bde7f5;
}
@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataque{
        flex-direction: column;
    }
}
